@model ProyectoDesarrWebU2.Models.ViewModels.PeliculaViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Editar", "Pelicula", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="clo-md-12">
            <div>
                @Html.LabelFor(d => d.titulopel)
                @Html.TextBoxFor(d => d.titulopel, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.titulopel, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.preciopel)
                @Html.TextBoxFor(d => d.preciopel, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.preciopel, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.imgpel)<br />

                <div>
                    <input type="file" name="imgFile" />
                </div>
            </div>
                <br />
                <br />
                <div>
                    <input values="Actualizar" class="btn btn-primary" type="submit" />
                </div>
            </div>
        </div>
}

